.btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-black {
    background-color: black;
}

.count {
    background-color: grey;
    width: 100px;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 30px;
    border-radius: 10px;
    border-color: black;
}